body {
  padding-top: 70px;
  padding-bottom: 30px;
}

#playlistviewer {
	width: 250px;
	position: fixed;
	left: -250px;
	border-top: solid black 2px;
	border-right: solid black 2px;
	/*border-bottom: solid black 2px;*/
	border-radius: 10px;
	background-color: white;
}


/*	Notes
		Right now this player is only here until the new one is finished	
*/

#player {
	position: fixed;
	top: 0px;
	position: fixed;
    right: 0px;	
    padding-top: 50px;
}